#Database
DB_NAME = "data.db"

#Imgur
IMGUR_CLIENT_ID = ""
IMGUR_CLIENT_SECRET = ""
IMGUR_ALBUM = ""

#Reddit
REDDIT_CLIENT_ID = ""
REDDIT_CLIENT_SECRET = ""
REDDIT_USER_AGENT = ""
REDDIT_USERNAME = ""
REDDIT_PASSWORD = ""

#Discord
DISCORD_PREFIX = "!"
DISCORD_TOKEN = ""

#Misc
COGS_DIR = "cogs"